/* Barra de cima que contem opções 
*/
.top_bar{
    
    position: fixed;
    top:0px;
    left: 0px;
    
    width: 100%;
    height: 4.5em;

    background-color: #f1f28d;
    
    margin:0;
    text-align:center;

    z-index: 10;
}

/* Barra de pesquisa 
*/
.search_field{
    
    width: 17vw;
    height:2em;
    
    display:inline-block;
    margin:1.5em auto;
    
    border-radius:8px;
}

/*  Botão de pesquisar
*/
.search_field_button{
    
    width: 2em;
    height:2em;
    
    position: absolute;
    margin:1.75em auto;
    
    background: url("images/searchImage.png");
    background-size: 2em 2em;
    background-repeat: no-repeat;

    border: none;
}

/* Nome do site que fica na barra
*/
.site_name_bar{
    
    position: absolute;
    left: 3vw;
    
    margin:1.2em auto;

    font-size: 1.4em;

    font-weight: bold;
    
    color: #e6b800;
}

.recipe_image{

    position: absolute;
    left: 0px;
    top: 0px;

    display: table;

    width: 100%;
    height: 33em;
}

.recipe_name{

    font-size: 450%;
    color: white;
    
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.ingredients_title{

    position: relative;
    top: 14em;

    width: 80vw;

    color:  #e6b800;

    font-size: 40px;
    left: 8vw;
}


.eggIcon{

    width: 50px;
    height: auto;
}

.topicIcon{

    width: 50px;
    height: auto;
}


.yt_link{

    position: relative;
    font-size: 1.5em;

    width: 80vw;
    height: 5em;

    top:23em;
    left:16vw;

    z-index: 9;
}


/* MODO DE PREPARO */
.directions_title{

    position: relative;
    top: 14em;

    width: 80vw;

    color:  #e6b800;

    font-size: 40px;
    left: 8vw;
}

.youtube_video{

    width: 50vw;
    height: 30vw;

    position: relative;
    top:35em;
    
    left:16vw;
}

.description{

    position: relative;
    font-size: 1.2em;

    width: 80vw;
    height: auto;

    top:29em;
    left:16vw;
}


.home{

    position: absolute;
    right: 10vw;
    top: 1em;

    width: 5em;
    height: 4em;

    background: URL("images/homeIcon.png");
    background-size: 5em 4em;

    border: none;
}

/* TELA PARA CELULAR -----------------------------------------------------------------------------------*/
@media screen and (max-width: 800px) {

    
    .home{

        position: absolute;
        right: 3vw;
        top: 1.4em;
    
        width: 4em;
        height: 3em;
    
        background: URL("images/homeIcon.png");
        background-size: 4em 3em;
    
        border: none;
    }

    .main_banner_text{

        font-size: 300%;
        color: white;

        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    /* Barra de cima que contem opções 
    */
    .top_bar{

        position: fixed;
        top:0px;
        left: 0px;

        width: 100%;
        height: 4.5em;

        background-color: #f1f28d;

        margin:0px auto;
        text-align:center;

        z-index: 10;
    }

    /* Barra de pesquisa 
    */
    .search_field{

        width: 30vw;
        height:2em;

        display:inline-block;
        margin:1.5em auto;

        border-radius:8px;
    }

    /*  Botão de pesquisar
    */
    .search_field_button{

        width: 2em;
        height:2em;

        position: absolute;
        margin:1.75em auto;

        background: url("images/searchImage.png");
        background-size: 2em 2em;
        background-repeat: no-repeat;

        border: none;
    }

    /* Nome do site que fica na barra
    */
    .site_name_bar{

        position: absolute;
        left: 3vw;

        margin:1.8em auto;

        font-size: 0.9em;

        font-weight: bold;

        color: #e6b800;
    }



    /* Tiulos */

    .youtube_video{

        width: 80vw;
        height: 50vw;

        position: relative;
        top:35em;

        left:5vw;
    }

    .directions_title{

        position: relative;
        top: 23em;

        width: 80vw;

        color:  #e6b800;

        font-size: 25px;
        left: 3vw;
    }


    .ingredients_title{

        position: relative;
        top: 23em;

        width: 80vw;

        color:  #e6b800;

        font-size: 25px;
        left: 3vw;
    }

    /* Textos explicativos*/
    .description{

        position: relative;
        font-size: 1.2em;

        width: 80vw;
        height: auto;

        top:29em;
        left:10vw;
    }
}